---
layout: base.njk
title: Welcome to GES Annex
permalink: /index.html
---
<!-- The React app will render itself into the <div id="root"> from base.njk -->
<!-- Eleventy will wrap your React application. No content needed here beyond layout directive. -->
